# Node
node_modules/
npm-debug.log
.env
.env.local

# Playwright profile
playwright-profile/

# Outputs gerados
src/outputs/data/
src/outputs/images/
src/outputs/mensagens.csv
src/outputs/enviados.json

# Sistema
.DS_Store
Thumbs.db
